# .gitignore for sticker app repo
# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv

# Jupyter
.ipynb_checkpoints/

# Model files
*.pth
*.pt
*.h5
*.onnx
*.mlmodel

# iOS
ios-app/DerivedData/
ios-app/*.xcworkspace
ios-app/*.xcuserstate
ios-app/Pods/
ios-app/Podfile.lock
ios-app/Podfile
ios-app/*.xcuserdatad
ios-app/*.xcscmblueprint
